[submodule "snake"]
	path = snake
	url = https://github.com/jwjwyoung/snake.git
	branch = master
[submodule "evelution_helper"]
	path = evelution_helper
	url = https://github.com/jwjwyoung/evelution_helper.git
	branch = master
[submodule "apps/lobsters"]
	path = apps/lobsters
	url = https://github.com/lobsters/lobsters.git
[submodule "apps/gitlabhq"]
	path = apps/gitlabhq
	url = https://github.com/gitlabhq/gitlabhq.git
[submodule "apps/spree"]
	path = apps/spree
	url = https://github.com/spree/spree
[submodule "apps/tracks"]
	path = apps/tracks
	url = https://github.com/TracksApp/tracks
[submodule "apps/onebody"]
	path = apps/onebody
	url = https://github.com/seven1m/onebody.git
[submodule "apps/diaspora"]
	path = apps/diaspora
	url = https://github.com/diaspora/diaspora.git
[submodule "parser"]
	path = parser
	url = https://github.com/sophie200/parser.git
[submodule "apps/zulip"]
	path = apps/zulip
	url = https://github.com/zulip/zulip
[submodule "apps/awx"]
	path = apps/awx
	url = https://github.com/ansible/awx
[submodule "apps/saleor"]
	path = apps/saleor
	url = https://github.com/mirumee/saleor
[submodule "apps/healthchecks"]
	path = apps/healthchecks
	url = https://github.com/healthchecks/healthchecks
[submodule "apps/Gerapy"]
	path = apps/Gerapy
	url = https://github.com/Gerapy/Gerapy
[submodule "apps/posthog"]
	path = apps/posthog
	url = https://github.com/PostHog/posthog
